<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nocs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Nocs.Properties.Settings>
      <setting name="GoogleUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="GooglePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Courier New, 9.75pt</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>768, 532</value>
      </setting>
      <setting name="WordWrap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSaveTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SaveGoogleAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StatusBarStyle" serializeAs="String">
        <value>TextColor</value>
      </setting>
      <setting name="GoogleAuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DocumentSortOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomaticProxyDetection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowseWindowSize" serializeAs="String">
        <value>427, 322</value>
      </setting>
      <setting name="BrowseWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DefaultSaveFolder" serializeAs="String">
        <value />
      </setting>
    </Nocs.Properties.Settings>
  </userSettings>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="fileLogger"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="nocs.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>